openapi: 3.1.0
info:
  title: Hono AWS Sandbox API
  description: Hono AWS Sandbox API
  version: 0.1.0
servers:
  - url: https://8h8pfjxiwf.execute-api.ap-northeast-1.amazonaws.com/dev
paths:
  /:
    get:
      operationId: getIndex
      description: Say hello to the user
      responses:
        "200":
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
      parameters:
        - in: query
          name: name
          schema:
            type: string
components: {}
